.firstSectionHeader {
    background-color: #191919;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 10px;
    font-family: Lausanne,Helvetica Neue,arial,sans-serif;
    font-weight: 30;
    font-size: 10px;
    padding-bottom: 40px;
    width: max-content;
}

.image {
    height: 40px;
    width: 110px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 270px;
    align-self: start;
}

.noUnderline {
    text-decoration: none;
}

.firstSectionHeaderMiddle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #a4abb4;  
    margin-right: 108px; 
    margin-top: 40px;
}

.firstSectionHeaderMiddleText {
    width: max-content;
    margin-right: 50px;   
}

.firstSectionHeaderMiddleTextLink {
    color: #a4abb4; 
}

.firstSectionHeaderRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #191919;  
    margin-right: 40px; 
    margin-top: 40px;
}

.firstSectionHeaderRightLeftBox {
    padding-left: 16px;
    padding-right: 16px;
    background-color: #ffffff;
    margin-right: 5px;
    border-radius: 15px;
    width: max-content;
}

.firstSectionHeaderRightRightBox {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #191919;
    border-radius: 15px;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    width: max-content;
}

.firstSectionHeaderRightTextLink {
    color: #ffffff; 
}