.secondSectionHeader {
    background-color: #191919;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    min-width: 1500px;
}

.secondSectionHeaderTop {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: 40px;
    margin-right: 40px;
    line-height: 10px;
    font-family: Lausanne,Helvetica Neue,arial,sans-serif;
    font-weight: lighter;
    font-size: 19px;
    width: 100%;
    
}

.secondSectionHeaderTopFirstBox {
    padding-left: 65px;
    background-color: #191919;
    color: #b07724;
    border-bottom-color: #b07724;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100%;
    min-width: 300px;
    margin-left: 40px;
}

.secondSectionHeaderTopBox {
    padding-left: 115px;
    background-color: #191919;
    color: #a4abb4;
    border-bottom-color: #a4abb4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100%;
    min-width: 250px;
}

.secondSectionHeaderTopLastBox {
    padding-left: 95px;
    background-color: #191919;
    color: #a4abb4;
    border-bottom-color: #a4abb4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100%;
    min-width: 240px;
    margin-right: 30px;
}

.secondSectionHeaderBottom {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-family: Lausanne,Helvetica Neue,arial,sans-serif;
    color: #ffffff;
    width: 100%;
    min-width: 1500px;
}

.secondSectionHeaderBottomLeftBox {
    display: flex;
    justify-content: space-between;
    align-items:flex-start; 
    flex-direction: column;
    font-family: Lausanne,Helvetica Neue,arial,sans-serif;
    width: 100%;
    min-width: 1500px;
    padding-top: 130px;
    padding-left: 40px;
}

.secondSectionHeaderBottomLeftFirstBox {
    padding-left: 30px;
    padding-bottom: 20px;
}

.secondSectionHeaderBottomLeftBoxFirstText {
    color: #a4abb4;
    font-size: 14px;
}

.secondSectionHeaderBottomLeftBoxSecondText {
    font-size: 45px;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 25px;
}

.secondSectionHeaderBottomLeftBoxThirdText {
    font-size: 18px;
    font-weight: lighter;
    width: 465px;
    margin-bottom: 30px;
    line-height: 25px;
}

.secondSectionHeaderBottomBox {
    padding-left: 16px;
    padding-right: 16px;
    background-color: #cf8c29;
    margin-right: 5px;
    border-radius: 30px;
    width: max-content;
}

.secondSectionHeaderBottomLeftBoxBoxText {
    font-size: 16px;
    font-weight: lighter;
    color: #191919;
    padding-top: 5px;
    padding-bottom: 5px;
}

.secondSectionHeaderBottomLeftSecondBox {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    width: 490px;
    padding-bottom: 110px;
}

.secondSectionHeaderBottomLeftSecondBoxStyle {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: column;
    border-left-color: #b07724;
    border-left-width: 1px;
    border-left-style: solid;
    padding-left: 30px;
    height: max-content;
}

.secondSectionHeaderBottomLeftSecondBoxNumbers {
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 0px;
    margin-top: 0px;
    
}

.secondSectionHeaderBottomLeftSecondBoxText {
    font-size: 16px;
    font-weight: lighter;
    width: 205px;
    line-height: 22px;
}

.secondSectionHeaderBottomLeftSecondBoxLeftBox {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: column;
    height: max-content;
    padding-right: 40px;
}

.secondSectionHeaderBottomLeftSecondBoxRightBox {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: column;
    height: max-content;
}

.secondSectionHeaderBottomLeftSecondBoxSourceText {
    padding-left: 30px;
    width: 300px;
    color: #ffffff;
    font-size: 12px;
    font-style: italic;
}

